<h1>
	ページのカスタムスクリプト
	<span class="navi">
		<a soy:link="Site">サイト管理</a> &gt; <a soy:link="Site.Page">ページ管理</a> &gt; <a soy:id="page_link">ページ管理</a> &gt; <!-- soy:id="page_name" /--></span>
</h1>


<div class="block">
	<div class="block_title">
		<h2>編集</h2>
	</div>

	<div class="block_body">
		
		<p class="notice" soy:display="updated">更新しました</p>
		
		<form soy:id="form">
			<table class="form_list">
				<caption><!-- soy:id="page_name*" /--></caption>
				<tr>
					<td>
						<textarea id="script_editor" class="editor" soy:id="script"></textarea>
					</td>
				</tr>
				<tr>
					<td>ファイルパス:<!-- soy:id="file_path" /--></td>
				</tr>
				<tr>
					<td>$argsにURLの末尾の値が配列の値として格納されています。</td>
				</tr>
			</table>
			
			<p class="pageBtn">
				<input type="submit" value="保存" />
			</p>
		</form>
		
		<table class="form_list">
			<caption>記述例:ログインしていない状態でページを開いた時にログインフォームへ飛ばす</caption>
			<tr>
				<td>
					<pre>$mypage = MyPageLogic::getMyPage();

//ログインチェック
if(!$mypage->getIsLoggedin()){

  //ログイン後のリダイレクト用に今見ているページのURLを取得する
  $url = rawurldecode($_SERVER["REQUEST_URI"]);
  soyshop_redirect_login_form("r=" . $url);
}</pre>
				</td>
			</tr>
		</table>
		
		<table class="form_list">
			<caption>記述例:管理画面にログインしているアカウントを調べ、アカウントごとにページを表示するか決める</caption>
			<tr>
				<td>
					<pre>//ログインしているアカウントのログインIDを取得する
$session = SOY2ActionSession::getUserSession();
$loginId = $session->getAttribute("loginid");

//ルートアカウントであるか調べる
//$isRoot = $session->getAttribute("isdefault");

//ログインしているアカウントがadminでない場合はトップページに遷移する
if($loginId != "admin"){
  header("Location:/");
  exit;
}</pre>
				</td>
			</tr>
		</table>
		
		<table class="form_list">
			<caption>記述例:IPアドレスでアクセス制限を設ける</caption>
			<tr>
				<td>
					<pre>//IPアドレスを調べる
$ipAddress = $_SERVER["REMOTE_ADDR"];

//閲覧を許可するIPアドレスリスト
$allows = array("127.0.0.1", "127.0.0.2");

if(!in_array($ipAddress, $allows)){
  //トップページに飛ばす
  header("Location:/");
  exit;
}</pre>
				</td>
			</tr>
		</table>
	</div>
</div>

<style type="text/css">
#script_editor{
	height:150px;
}
#script_example{
	height:100px;
}
</style>