<h1>
	メール設定
		<span class="navi">
		<a soy:link="">ショップ管理</a> &gt; <a soy:link="Config">設定</a> &gt; <a soy:link="Config.Mail">メール設定</a> &gt; <!-- soy:id="mail_text" /--></span>
</h1>

	<div class="block">
	<div class="block_title">
		<h2><!-- soy:id="mail_text*" /--></h2>
	</div>

	<div class="block_body">

	<div class="table_container">

		<p class="notice" soy:display="updated">更新しました</p>

		<form soy:id="form">

		<dl>
			<!-- soy:id="mail_active_config" -->
			<dt>自動送信設定</dt>
			<dd>
				<input soy:id="mail_active_yes" type="radio" />
				<input soy:id="mail_active_no" type="radio" />
			</dd>
			<!-- /soy:id="mail_active_config" -->
			
			<dt>件名</dt>
			<dd>
				<input soy:id="mail_title" class="title" />
			</dd>
		</dl>

		<table class="form_table" style="table-layout:auto;">
			<caption>本文</caption>
			<tr>
				<th colspan="2">ヘッダー</th>
			</tr>
			<tr class="last_row">
				<td>
					<textarea id="mail_header" soy:id="mail_header" class="editor"></textarea>
				</td>
				<td class="mail_replace_word_panel">
					<a href="javascript:void(0);" class="button" onclick="$(this).parent().addClass('actived');$(this).hide();">&lt;&lt;</a>
					<div class="word_list">
						<h5>置換文字列</h5>
						<ul>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#NAME#');">氏名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#READING#');">フリガナ</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#MAILADDRESS#');">メールアドレス</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#BIRTH_YEAR#');">誕生日(年)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#BIRTH_MONTH#');">誕生日(月)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#BIRTH_DAY#');">誕生日(日)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#SHOP_NAME#');">ショップ名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_NAME#');">会社名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_ADDRESS1#');">会社郵便番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_ADDRESS2#');">会社住所</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_TELEPHONE#');">会社電話番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_FAX#');">会社FAX番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#COMPANY_MAILADDRESS#');">会社メールアドレス</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#ORDER_ID#');">注文番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_header').textarea().insertHTML('#ORDER_RAWID#');">注文ID</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th colspan="2">フッター</th>
			</tr>
			<tr>
				<td>
					<textarea id="mail_footer" soy:id="mail_footer" class="editor"></textarea>
				</td>
				<td class="mail_replace_word_panel">
					<a href="javascript:void(0);" class="button" onclick="$(this).parent().addClass('actived');$(this).hide();">&lt;&lt;</a>
					<div class="word_list">
						<h5>置換文字列</h5>
						<ul>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#NAME#');">氏名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#READING#');">フリガナ</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#MAILADDRESS#');">メールアドレス</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#BIRTH_YEAR#');">誕生日(年)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#BIRTH_MONTH#');">誕生日(月)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#BIRTH_DAY#');">誕生日(日)</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#SHOP_NAME#');">ショップ名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_NAME#');">会社名</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_ADDRESS1#');">会社郵便番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_ADDRESS2#');">会社住所</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_TELEPHONE#');">会社電話番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_FAX#');">会社FAX番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#COMPANY_MAILADDRESS#');">会社メールアドレス</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#ORDER_ID#');">注文番号</a></li>
							<li><a href="javascript:void(0);" onclick="$('#mail_footer').textarea().insertHTML('#ORDER_RAWID#');">注文ID</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		
		<!-- soy:id="mail_config_extension_html" /-->

		<p class="pageBtn">
			<input type="submit" class="submit_button" value="更新" />
		</p>

		</form soy:id="form">
	</div>
	</div>
	</div>

<style type="text/css">
.mail_replace_word_panel{
	vertical-align:top;
	width:50px;
	text-align:center;
}
.mail_replace_word_panel .word_list{
	display:none;
	text-align:left;
}
.actived .word_list{
	display:block;
	width:100px;
}
</style>