<style type="text/css">
<!--
.error_mes{
	color:red;
}
-->
</style>

<p class="notice always" soy:id="issued">発行しました。</p>
<p class="notice always" soy:id="updated">変更しました。</p>
<p class="error always" soy:id="error">保存に失敗しました。</p>

<p><a soy:id="register_link">クーポンの登録</a></p>
<br />

<!-- soy:id="is_coupon_list" -->
<div class="edit_form">
	<h3>CSV出力</h3>
	<form soy:id="csv_form" id="export_form">
		<dl>
			<dt>使用履歴のログ</dt>
			<dd>
				クーポンの使用履歴を出力します。日付を指定して期間ごとの履歴を出力できます。<br>
				<input type="text" name="csv_date_start" class="date_picker_start" value="">&nbsp;～&nbsp;
				<input type="text" name="csv_date_end" class="date_picker_end" value=""><br>
				<label><input type="radio" name="log[charset]" value="Shift-JIS" checked="checked">Shift-JIS</label>
				<label><input type="radio" name="log[charset]" value="UTF-8">UTF-8</label>&nbsp;
				<input type="submit" name="csv[log]" class="submit_button" value="使用ログ">
			</dd>
			<dt>クーポン</dt>
			<dd>
				登録されているクーポンを出力します。<br>
				<label><input type="radio" name="coupon[charset]" value="Shift-JIS" checked="checked">Shift-JIS</label>
				<label><input type="radio" name="coupon[charset]" value="UTF-8">UTF-8</label>&nbsp;
				<input type="submit" name="csv[coupon]" class="submit_button" value="CSV出力">
			</dd>
		</dl>
	</form soy:id="csv_form">
	
	<h1>登録済みクーポン</h1>
	<h3>クーポン一覧</h3>
	<table class="form_table">
		<thead>
			<tr class="alC">
				<th>クーポンコード</th>
				<th>クーポン名</th>
				<th>使用回数/客</th>
				<th>値引き</th>
				<th>有効期限</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<!-- soy:id="coupon_list" -->
			<tr>
				<td class="alC" rowspan="2" style="font-weight:bold;"><!-- soy:id="coupon_code" /--></td>
				<td soy:id="name"></td>
				<td class="alR"><!-- soy:id="count" /--> (<!-- soy:id="used_count" /-->)</td>
				<td soy:id="discount" class="alR"></td>
				<td style="font-size:0.9em;text-align:center;"><!-- soy:id="time_limit" /--></td>
				<td class="alC" rowspan="2">
					<a soy:id="detail_link" class="button">詳細</a>
				</td>
			</tr>
			<tr>
				<td colspan="2"><span style="font-weight:bold;">利用可能金額</span> : <!-- soy:id="price_limit" /--></td>
				<td colspan="2"><span style="font-weight:bold;">備考</span> : <!-- soy:id="memo" /--></td>
			</tr>
			<tr class="coupon_detail_<!-- soy:id="id" /-->" style="display:none;">
				<td colspan="1"></td>
				<td colspan="5">
					<form method="post">
						<dl>
							<dt>クーポン名</dt>
							<dd>
								<input type="text" soy:id="input_name" />
								<input type="hidden" soy:id="input_id" />
							</dd>
							
							<dt>クーポンの種類</dt>
							<dd>
								<input type="radio" soy:id="radio_coupon_type_price" />
								<input type="radio" soy:id="radio_coupon_type_percent" />
							</dd>
							
							<dt>使用回数</dt>
							<dd>
								<input type="text" soy:id="input_count" size="5" style="text-align:right;ime-mode:inactive;" />&nbsp;回
							</dd>
							
							<dt>値引き額&nbsp;クーポンの種類で値引き額に設定した場合に使われます</dt>
							<dd>
								<input type="text" soy:id="input_discount" size="20" style="text-align:right;ime-mode:inactive;" />&nbsp;円
							</dd>
							
							<dt>値引き率&nbsp;クーポンの種類で値引き率に設定した場合に使われます</dt>
							<dd>
								<input type="text" soy:id="input_discout_percent" size="3" style="ime-mode:inactive;text-align:right;" />&nbsp;％
							</dd>
							
							<dt>備考</dt>
							<dd><input type="text" soy:id="input_memo" value="" size="40" /></dd>
							
							<dt>利用可能金額&nbsp;<span class="option">このクーポンが使える商品金額合計(半角数字)</span></dt>
							<dd>
								<input type="text" soy:id="input_price_limit_min" size="10" style="ime-mode:inactive;text-align:right;" />&nbsp;円&nbsp;～&nbsp;
								<input type="text" soy:id="input_price_limit_max" size="10" style="ime-mode:inactive;text-align:right;" />&nbsp;円
							</dd>
							
							<dt>有効期限</dt>
							<dd>
								<input type="text" class="date_picker_start" soy:id="input_time_limit_start" value="" />&nbsp;～
								<input type="text" class="date_picker_end" soy:id="input_time_limit_end" value="" />
							</dd>
							
						</dl>
							
						<p class="pageBtn">
							<input type="submit" class="submit_button" name="edit_save" value="変更">&nbsp;
							<input type="submit" class="submit_button" name="remove" value="削除する" onclick="return confirm('削除してもよろしいですか？');" />
						</p>
					</form>
				</td>
			</tr>
			<!-- /soy:id="coupon_list" -->
		</tbody>
	</table>
</div>
<!-- /soy:id="is_coupon_list" -->
<br />
<a name="register"></a>
<form soy:id="form">

	<h1>クーポンの新規登録</h1>
	
	<div class="edit_form">
		<dl id="coupon_detail">
			<dt>クーポンコード&nbsp;<span class="option">必須、半角英数字で<!-- soy:id="coupon_conde_annotation_disits_min" /-->～<!-- soy:id="coupon_conde_annotation_disits_max" /-->文字</span></dt>
			<dd>
				<input type="text" soy:id="coupon_code" size="20" style="ime-mode:inactive;" />
				<p class="error_mes" soy:id="coupon_length_error"><!-- soy:id="coupon_conde_annotation_disits_min*" /-->～<!-- soy:id="coupon_conde_annotation_disits_max*" /-->文字で入力してください</p>
				<p class="error_mes" soy:id="coupon_reg_error">半角英数字で入力してください</p>
			</dd>
			
			<dt>クーポンの種類</dt>
			<dd>
				<input type="radio" soy:id="coupon_type_price" />
				<input type="radio" soy:id="coupon_type_percent" />
			</dd>
			
			<dt>クーポン名&nbsp;<span class="option">必須、例）2011年10月入会キャンペーン</span></dt>
			<dd>
				<input type="text" soy:id="name" size="60" />
				<p class="error_mes" soy:id="name_error">クーポン名が入力されていません</p>
			</dd>
			
			<dt>お客様一人あたりの使用回数&nbsp;<span class="option">空の場合、無制限</span></dt>
			<dd>
				<input type="text" soy:id="count" size="5" style="ime-mode:inactive;text-align:right;" />&nbsp;回
				<p class="error_mes" soy:id="count_error">数字を入力してください。</p>
			</dd>
			
			<dt>値引き額&nbsp;<span class="option">例）1000[円]</span>&nbsp;クーポンの種類で値引き額を選択した場合に設定してください</dt>
			<dd>
				<input type="text" soy:id="discount" size="20" style="ime-mode:inactive;text-align:right;" />&nbsp;円
				<p class="error_mes" soy:id="discount_error">数字を入力してください。</p>
			</dd>
			
			<dt>値引き率&nbsp;<span class="option">例）1000[円]</span>&nbsp;クーポンの種類で値引き率を選択した場合に設定してください</dt>
			<dd>
				<input type="text" soy:id="discout_percent" size="3" style="ime-mode:inactive;text-align:right;" />&nbsp;％
				<p class="error_mes" soy:id="discount_percent_error">数字を入力してください。</p>
			</dd>
			
			<dt>備考&nbsp;<span class="option">例）自由入力</span></dt>
			<dd><input type="text" soy:id="memo" size="60" /></dd>
			
			<dt>利用可能金額&nbsp;<span class="option">このクーポンが使える商品金額合計(半角数字)</span></dt>
			<dd>
				<input type="text" soy:id="price_limit_min" size="10" style="ime-mode:inactive;text-align:right;" />&nbsp;円&nbsp;～&nbsp;
				<input type="text" soy:id="price_limit_max" size="10" style="ime-mode:inactive;text-align:right;" />&nbsp;円
				(空欄の場合、無制限)<br />
				※下にあるクーポンの利用可能金額設定の値が優先されます。
				<p class="error_mes" soy:id="price_limit_error">数字を入力してください</p>
				<p class="error_mes" soy:id="price_limit_compare_error">上限は下限よりも高い金額で設定してください</p>
			</dd>
			
			<dt>有効期限&nbsp;<span class="option">空の場合は有効期限なし</span></dt>
			<dd>
				<input type="text" class="date_picker_start" soy:id="time_limit_start" size="12" />&nbsp;～&nbsp;
				<input type="text" class="date_picker_end" soy:id="time_limit_end" size="12" />
				<p class="error_mes" soy:id="time_limit_error">YYYY-MM-DDの形式で入力してください</p>
				<p class="error_mes" soy:id="time_limit_compare_error">終了日は開始日の後に設定してください</p>
			</dd>
		</dl>
	
		<p class="pageBtn">
			<input type="submit" class="submit_button" value="新規登録" />
		</p>
	</div>
	


</form soy:id="form">

<form soy:id="config_form">
	<div class = "config_form">
		<h1>クーポンの設定</h1>
		
		<dl id="coupon_config">
			<dt>利用可能金額&nbsp;<span class="option">クーポンが使える商品金額合計(半角数字)</span></dt>
			<dd>
				<input type="text" soy:id="config_enable_amount_min" style="text-align:right;ime-mode:inactive;" />&nbsp;円
				&nbsp;～&nbsp;
				<input type="text" soy:id="config_enable_amount_max" style="text-align:right;ime-mode:inactive;" />&nbsp;円(空欄の場合、無制限)
			</dd>
			
			<dt>クーポンコード登録時の文字数</dt>
			<dd>
				下限:<input type="number" soy:id="config_code_digits_min" value="">&nbsp;上限:<input type="number" soy:id="config_code_digits_max" value="">
			</dd>
		</dl>
	
		<p class="pageBtn">
			<input type="submit" class="submit_button" value="設定変更" />
		</p>
	</div>
</form soy:id="config_form">


<link rel="stylesheet" href="<?php echo SOY2PageController::createRelativeLink('./js/tools/soy2_date_picker.css');?>" />
<script type="text/javascript" src="<?php echo SOY2PageController::createRelativeLink('./js/tools/soy2_date_picker.pack.js');?>" charset="utf-8"></script>

<script type="text/javascript">
$(function(){
	$("#export_form").attr("target","download_frame");
	$("#export_form").submit(function(){
		setTimeout(function(){location.reload();},1000);
	});
});
</script>