<h1>
	顧客管理
	<span class="navi">
		<a soy:link="">ショップ管理</a> &gt; 顧客管理</span>
</h1>


<div class="block">
	<div class="block_title">
		<h2>顧客管理</h2>

		<div class="block_title_right">
			<a soy:id="reset_button" onclick="$('#advanced_search_form_reset').trigger('click');" href="javascript:void(0);" class="button">リセット(全て表示)</a>
			<a soy:link="User.Search" class="button">詳細検索</a>
			<a soy:link="User.Register" class="button">顧客の追加</a>
		</div>

		<form id="reset_form" soy:id="reset_form">
				<input id="advanced_search_form_reset" type="submit" name="reset" style="display:none;" />
		</form soy:id="reset_form">
	</div>

	<div class="block_body">

		<p class="notice always" soy:display="registered">顧客を追加しました。</p>

		<div soy:id="search_condition"></div>

		<table class="form_list">
			<caption>顧客一覧(<span soy:id="count_max*">100000</span>件)：
				<span soy:id="count_start*">1</span> ～ <span soy:id="count_end*">20</span> 件
			</caption>
			<thead>
				<tr class="alC">
					<th class="short">ID <a soy:id="sort_id">↓</a> <a soy:id="sort_id_desc">↑</a></th>
					<th class="middle">姓名 <a soy:id="sort_name">↓</a> <a soy:id="sort_name_desc">↑</a></th>
					<th class="middle nowrap">メールアドレス <a soy:id="sort_mail_address">↓</a> <a soy:id="sort_mail_address_desc">↑</a></th>
					<th>属性１</th>
					<th>属性２</th>
					<th>属性３</th>
					<th class="operation">
						編集
						<a class="button fr" href="javascript:void(0);" onclick="$(this).hide();$('.delete_btn').css('visibility','visible');">削除</a>
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr class="search last_row">
					<form>
						<td>&nbsp;</td>
						<td class="middle"><input soy:id="search_name" value=""/></td>
						<td class="middle"><input soy:id="search_mail_address" value=""/></td>
						<td><input soy:id="search_attribute1" value=""/></td>
						<td><input soy:id="search_attribute2" value=""/></td>
						<td><input soy:id="search_attribute3" value=""/></td>
						<td class="operation">
							<input soy:id="search_submit" type="submit" value="検索"/>
						</td>
					</form>
				</tr>
				<tr class="pager">
					<td colspan="7">
						<div class="pager_item">
							<form soy:id="pager_jump">
								<select soy:id="pager_select"></select>
								<noscript><input type="submit" value="移動"/></noscript>
							</form soy:id="pager_jump">
						</div>
						<div class="pager_item">
							<a soy:id="prev_pager">&lt;</a>
							<!-- soy:id="pager_list" -->
							<a soy:id="target_link">1</a>
							<!-- /soy:id="pager_list" -->
							<a soy:id="next_pager">&gt;</a>
						</div>
						<div class="pager_item">
							<span soy:id="count_start">1</span> - <span soy:id="count_end">20</span> / <span soy:id="count_max">100000</span>
						</div>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<!-- soy:id="user_list" -->
				<tr>
					<td class="alC short"><span soy:id="id"></span></td>
					<td class="middle"><a soy:id="edit_link"><span soy:id="name"></span></a></td>
					<td class="middle"><span soy:id="mailaddress">メールアドレス</span></td>
					<td class="middle"><span soy:id="attribute1">属性１</span></td>
					<td class="middle"><span soy:id="attribute2">属性２</span></td>
					<td class="middle"><span soy:id="attribute3">属性３</span></td>
					<td class="operation">
						<a class="button" soy:id="edit_link*">編集</a>
						<a soy:id="remove_link" href="#" class="button fr delete_btn" onclick="return confirm('削除してもよろしいですか？')">削除</a>
					</td>
				</tr>
				<!-- /soy:id="user_list" -->
				<!-- soy:id="no_user" -->
				<tr>
					<td colspan="7">
						<p class="notice always">顧客情報が登録されていません</p>
					</td>
				</tr>
				<!-- /soy:id="no_user" -->
			</tbody>
		</table>

	</div><!-- /block_body -->
</div><!-- /block -->

<!-- soy:id="app_limit_function" -->
<div class="block">
	<div class="block_title">
		<h2>その他</h2>
	</div>

	<div class="block_body">

	<dl>
		<!-- soy:id="is_custom_plugin" -->
		<dt>
			<a soy:link="User.CustomField">カスタム項目設定</a>
		</dt>
		<dd>ユーザの追加項目を編集します。</dd>
		<!-- /soy:id="is_custom_plugin" -->
		<dt>
			<a soy:link="User.Export">CSVエクスポート</a>
		</dt>
		<dd>ユーザ情報をCSV出力します。</dd>
		<dt>
			<a soy:link="User.Import">CSVインポート</a>
		</dt>
		<dd>ユーザ情報をCSVから入力します。</dd>
		<!-- soy:id="function_list" -->
		<dt soy:id="function_title">エクスポートの種類を選択してください</dt>
		<dd>
			<!-- soy:id="function_description" /-->&nbsp;<a class="button" target="_blank" soy:id="action_link">実行</a>
		</dd>
		<!-- /soy:id="function_list" -->
		<!-- soy:id="info_list" -->
		<dt soy:id="info_title">プラグイン</dt>
		<dd>
			<!-- soy:id="info_description" /-->
		</dd>
		<!-- /soy:id="info_list" -->
	</dl>
	
	</div><!-- /block_body -->
</div>
<!-- /soy:id="app_limit_function" -->

<style type="text/css">
.delete_btn{
	visibility:hidden;
}
</style>