<h1>
	カテゴリ管理
	<span class="navi">
		<a soy:link="">ショップ管理</a> &gt; <a soy:link="Item">商品管理</a> &gt; <a soy:link="Item.Category">カテゴリ管理</a> &gt; <!-- soy:id="category_name" /--></span>
</h1>


<div id="category" class="block">
	<div class="block_title">
		<h2>カテゴリの編集</h2>

		<div class="block_title_right">
			<a class="button" href="javascript:void(0);" onclick="$('#append_form_el').trigger('popup');">ルートカテゴリの追加</a>
		</div>
	</div>

	<div class="block_body clearfix">

		<p class="notice" soy:display="updated">更新しました</p>
		<p class="notice" soy:display="failed">失敗しました</p>

		<h3>カテゴリ一覧</h3>
		<div class="section clearfix">
			<div class="left">
				<ul id="category_tree" soy:id="category_tree"></ul>
			</div>

			<div class="right">
				<div id="category_detail">
					<div class="category_detail_list">
						<h3><span soy:id="category_name*"></span></h3>

						<div class="ml mb40">
							<form soy:id="child_update_form">
								<input type="hidden" name="update" value="update" />
								<input type="hidden" soy:id="category_id_input" />

								<dl>
									<dt>
										カテゴリ詳細

										<a class="button fr" soy:id="remove_link" onclick="return confirm('このカテゴリを削除しますか？')">このカテゴリの削除</a>
									</dt>
									<dd>
										<h4>カテゴリ名</h4>
										<input class="text" type="text" soy:id="category_name_input" />
										
										<!-- soy:id="extension_category_name_input" /-->
										
										<h4>カテゴリID<span class="option">(URLの生成に使います)</span></h4>
										<input class="text" type="text" soy:id="category_alias_input" />
										<h4>表示順</h4>
										<input class="text" type="text" soy:id="category_order_input"/>
										<h4>親</h4>
										<select soy:id="category_parent"><option value="">--</option></select><br />
										<!-- soy:id="category_custom_field" --><!-- /soy:id="category_custom_field" -->
										<h4>公開</h4>
										<input type="radio" soy:id="category_is_open">&nbsp;
										<input type="radio" soy:id="category_no_open">
									</dd>

									<p class="pageBtn">
										<a class="button" href="javascript:void(0);" soy:id="update_submit_btn">更新</a>
									</p>
								</dl>

							</form soy:id="child_update_form">
						</div>



						<div class="ml">
							<form soy:id="child_create_form">
							<input type="hidden" name="create" value="create" />
							<input type="hidden" soy:id="parent" />

								<dl>
									<dt>子カテゴリの追加</dt>
									<dd>
										<h4>新しいカテゴリ名</h4>
										<input soy:id="category_new_name" name="name" type="text" class="text validate">
										<span class="require" soy:id="category_new_name_error" style="display:none;">必須項目を入力してください</span>
										<a class="button" href="javascript:void(0);" soy:id="create_submit_btn">追加</a>
									</dd>
								</dl>


							</form soy:id="child_create_form">
						</div>

					</div>
				</div>
			</div>
		</div>



		<div id="append_form_el" class="popup" style="display:none;">
			<form soy:id="create_form" id="create_form">
			<input type="hidden" name="create" value="create" />
			<p>
				新しいカテゴリ名:
				<div class="alC">
				<input id="category_new_name" name="name" type="text" class="text validate">
				<span class="require" id="category_new_name_error" style="display:none;">必須項目を入力してください</span>
				</div>
			</p>
			<p class="alC">
				<a class="button" href="javascript:void(0);" onclick="$('#create_form').trigger('submit');">追加</a>
			</p>
			<p class="close"></p>
			</form soy:id="create_form">
		</div>
		
		<!-- image_select -->
		<div id="upload_form_el" class="popup" style="display:none;">
		<iframe name="upload_target_frame" src="about:blank;" frameborder="0" style="height:0;width:0;position:absolute;"></iframe>
		<form soy:id="upload_form">
			<input type="hidden" name="upload" soy:id="category_id_upload" value="" />
			<p>
				<span>
				<input id="upload_input" name="upload_file[]" type="file" multiple="true" />

				</span>
				<a class="button" href="javascript:void(0);" onclick="$('#upload_form').trigger('submit');">Upload</a>
			</p>
			<hr />
			<div id="select_image_list" class="image_list">
				<!-- soy:id="image_list" -->
				<img soy:id="image" class="image_list_image" />
				<!-- /soy:id="image_list" -->
			</div>

			<p class="close"></p>
		</form soy:id="upload_form">

		</div>
		<!-- /image_select -->

	</div><!-- /block_body -->
</div>

<div class="block">
	<div class="block_title">
		<h2>その他</h2>
	</div>

	<div class="block_body">

	<dl>
		<!-- soy:id="is_custom_plugin" -->
		<dt><a soy:link="Item.Category.Customfield">カスタム項目設定</a></dt>
		<dd>カテゴリの追加項目を編集します</dd>
		<!-- /soy:id="is_custom_plugin" -->

		<dt><a soy:link="Item.Category.Import">カテゴリCSVインポート</a></dt>
		<dd>カテゴリ情報をCSVから入力します。</dd>

		<dt><a soy:link="Item.Category.Export">カテゴリCSVエクスポート</a></dt>
		<dd>カテゴリをCSV出力します。</dd>
	</dl>

	</div><!-- /block_body -->
</div>

<script type="text/javascript" soy:src="../soycms/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
$(function(){
	tinymce.init({
		mode : "specific_textareas",
		editor_selector : "mceEditor",
		theme : "modern",
		skin : "lightgray",
		plugins : "save,pagebreak,table,hr,insertdatetime,searchreplace,contextmenu,code,textcolor,paste,directionality,fullscreen,noneditable,charmap,visualchars,nonbreaking,innerlink,insertimage,soycms_emoji,insertwidget",
		tools : "inserttable",
		language : "ja",	
		menubar : false,
		toolbar1 : "save | cut copy paste pastetext | searchreplace | bold italic underline strikethrough | subscript superscript | forecolor backcolor | alignleft aligncenter alignright | formatselect fontselect fontsizeselect",
		toolbar2 : "bullist numlist | outdent indent blockquote | undo redo | cleanup removeformat code styleprops attribs | fullscreen preview | insertdate inserttime | insertwidget | table",
	
		init_instance_callback : function(editor) {
//			onInitTinymceEditor(editor.id);
		},
		oninit : function(){
//			onInitTinymce();
		},
	
		cleanup : true,
		verify_html : false,
		convert_urls : false,
		relative_urls : false,
		entity_encoding : "named"
	});
});
</script>
<script type="text/javascript">
function onClickLeaf(category_id){
	$(".category_detail_list").hide();
	$("#category_detail_" + category_id).show();
}

function onPopup(){

	var image_list = [];
	//img list
	$("img").each(function(){
		if(!$(this).hasClass("image_list_image")){
			var image = new Image;
			image.src = $(this).attr("src");
			image_list.push(image.src);
		}
	});

	$("#select_image_list img").each(function(){
		var src = $(this).attr("src");

		if($.inArray(src,image_list) > 0){
			$(this).addClass("image_used");
		}else{
			$(this).removeClass("image_used");
		}
	});
}
</script>
<style type="text/css">

.treeview ul{
	background-color:#eee;
}


#category_detail{
	margin-bottom:20px;
}

#category_tree{
	margin-left:8px;
	margin-top:5px;
}

#category .section .left{
	height:500px;
	overflow:auto;
}

#upload_form_el .image_list img.image_used{
	border:solid 3px #ffd700;
}
#upload_form_el .image_list{
	width:640px;
	height:400px;
	overflow:auto;
}

#upload_form_el .image_list img{
	margin:5px;
	border:solid 3px #666;
	cursor:pointer;
	vertical-align:top;
}

#upload_form_el .image_list img.append_new{
	border:solid 3px #ffff00;
}

#select_image_info{
	position:absolute;
	border:solid 1px #eee;
	background-color:white;
	text-align:left;

	box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
}

.image_select_preview{
	display:block;
	margin-top:3px;
}


</style>