<div>
	<h4>統計種目</h4>
	<input type="radio" soy:id="type_month">&nbsp;
	<input type="radio" soy:id="type_newcustomer">&nbsp;
	<input type="radio" soy:id="type_repeat">&nbsp;
	<input type="radio" soy:id="type_repeatmonth"><br>
	<input type="radio" soy:id="type_area">&nbsp;	
	<input type="radio" soy:id="type_ordercount">&nbsp;
	<input type="radio" soy:id="type_itemrate">&nbsp;
	<input type="radio" soy:id="type_carrier">&nbsp;
	<input type="radio" soy:id="type_language">
</div>

<div>
	<h4>期間</h4>
	<input type="text" class="date_picker_start analytics_date_picker" soy:id="analytics_period_start">&nbsp;～&nbsp;
	<input type="text" class="date_picker_end analytics_date_picker" soy:id="analytics_period_end">&nbsp;
	<input type="button" id="clear_button" value="クリア"><br>
	※<strong soy:id="analytics_label_month">売上</strong>と<strong soy:id="analytics_label_newcustomer">新規注文</strong>の場合は日は考慮されません
	
	<h4>件数</h4>
	<input type="number" soy:id="analytics_limit">
</div>

<script>
window.onload = function(){
	var clearBtn = document.querySelector("#clear_button");
	clearBtn.addEventListener("click", function(){
		var forms = document.querySelectorAll(".analytics_date_picker");
		for (i = 0; i < forms.length; i++) {
			forms[i].value = "";
		}
	});
};
</script>