<p class="notice" soy:display="updated">変更しました</p>
<p class="notice" soy:display="created">実行しました</p>

<form soy:id="form">

	<dl>
		<!-- soy:id="language_list" -->
		<dt><!-- soy:id="language_type" /-->サイトのプリフィックスの設定</dt>
		<dd>
			<input type="hidden" soy:id="no_use_hidden">
			<input type="checkbox" soy:id="is_use_checkbox">
		</dd>
		<dd>
			<input type="text" soy:id="prefix_input" />&nbsp;&nbsp;
			<a soy:id="create_pc_page_link" class="button">PC版ページの追加</a>&nbsp;&nbsp;
			<a soy:id="create_i_page_link" class="button">スマホ版ページの追加</a>
			<br />
			<div>
				<h2>▶&nbsp;PC</h2>
				※http://<!-- soy:id="domain" /--><!-- soy:id="shop_id" /-->の場合、http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /--><strong><!-- soy:id="prefix_text" /--></strong>にリダイレクトします<br />
				※http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /-->/item/listの場合、http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /--><strong><!-- soy:id="prefix_text*" /--></strong>/item/listにリダイレクトします
			</div>
			<div soy:id="display_mobile_check_config">
				<h2>▶&nbsp;スマホ</h2>
				※http://<!-- soy:id="domain" /--><!-- soy:id="shop_id" /-->の場合、http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /--><strong><!-- soy:id="smartphone_prefix_text" /--><!-- soy:id="prefix_text" /--></strong>にリダイレクトします<br />
				※http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /-->/item/listの場合、http://<!-- soy:id="domain*" /--><!-- soy:id="shop_id*" /--><strong><!-- soy:id="smartphone_prefix_text*" /--><!-- soy:id="prefix_text*" /--></strong>/item/listにリダイレクトします
			</div>
		</dd>
		
		<dt><!-- soy:id="language_type*" /-->サイトで使用するカートID</dt>
		<dd>
			PC:<strong><!-- soy:id="user_cart_id" /--></strong>
			<!-- soy:id="display_mobile_check_config*" -->&nbsp;
			スマホ:<strong><!-- soy:id="user_sp_cart_id" /--></strong>
			<!-- /soy:id="display_mobile_check_config*" -->
		</dd>
		
		<dt><!-- soy:id="language_type" /-->サイトで使用するマイページID</dt>
		<dd>
			PC:<strong><!-- soy:id="user_mypage_id" /--></strong>
			<!-- soy:id="display_mobile_check_config*" -->&nbsp;
			スマホ:<strong><!-- soy:id="user_sp_mypage_id" /--></strong>
			<!-- /soy:id="display_mobile_check_config*" -->
		</dd>
		<!-- /soy:id="language_list" -->
		
		<dt>公開側の表示の際にブラウザの言語設定を確認する</dt>
		<dd>
			<input type="checkbox" soy:id="confirm_browser_language_config"><br>
			※ブラウザの言語設置を確認しない場合は言語切替ボタンを使用します。
		</dd>
	</dl>

	<p class="pageBtn">
		<input type="submit" class="submit_button" value="変更" />
	</p>

</form soy:id="form">

<h3>テンプレートへの記述例</h3>
<pre style="border:1px solid #000000;padding:5px 20px;margin:0 35px　20px 0;">
&lt;a cms:id="language_jp_link"&gt;日本語サイト&lt;/a&gt;
&lt;a cms:id="language_en_link"&gt;英語サイト&lt;/a&gt;
&lt;a cms:id="language_zh_link"&gt;中国語サイト&lt;/a&gt;
</pre>