<div class="alR">
	<a class="button" soy:link="Config.Detail?plugin=common_item_option">商品オプションの設定画面</a>
</div>

<br>

<div class="block_body clearfix">
	<p class="notice" soy:display="updated">更新しました</p>
	<p class="error" soy:display="failed">インポートに失敗しました</p>

		<h3>設定のエクスポート(この設定項目をコピーしてインポート先に貼り付けてください)</h3>
		
		<dl>
			<dd>
				<textarea soy:id="export_value"></textarea>
			</dd>
		</dl>
		
		<h3>設定のインポート(ここに設定項目を張り付けてインポートを押してください)</h3>
		<form soy:id="form">
		
		<dl>
			<dd>
				<p style="color:red;">すべての項目がインポートの設定に上書きされます。</p>
				<textarea soy:id="import_value"></textarea>
			</dd>
		</dl>
		
		<p class="pageBtn">
			<input type="submit" name="import" value="インポート" />
		</p>
		</form>
</div>