<h1>
	<!-- soy:id="template_name" /--> - テンプレート編集
	<span class="navi">
		<a soy:link="Site">サイト管理</a> &gt; <a soy:link="Site.Template">テンプレート管理</a> &gt; <a soy:link="Site.Template.Application">アプリケーションテンプレート管理</a> &gt; テンプレート編集</span>
</h1>


<div class="block">
	<div class="block_title">
		<h2>編集</h2>
	</div>

	<div class="block_body">

		<p class="notice" soy:display="updated">更新しました</p>

		<form soy:id="form">
		<dl class="form center">
				<dt>テンプレートパス</dt>
				<dd>
					<!-- soy:id="template_path" /-->
				</dd>
		</dl>
			
		<table class="form_list">
			<caption soy:id="template_path">HTML</caption>
			<tr>
				<td>
					<textarea id="template_editor" class="editor" soy:id="template_content"></textarea>
				</td>
			</tr>
		</table>

		<p class="pageBtn">
			<input type="submit" value="保存" />
		</p>

		</form>
	</div>
</div>

<style type="text/css">
#template_editor{
	height:400px;
}
</style>