<h1>
	アプリケーションテンプレート管理
	<span class="navi">
		<a soy:link="Site">サイト管理</a> &gt; <a soy:link="Site.Template">テンプレート管理</a> &gt; アプリケーションテンプレート管理</span>
</h1>

<div class="block">
	<div class="block_title">
		<h2>アプリケーションテンプレート一覧</h2>
	</div>

	<div class="block_body">
		<table class="form_list">
		<caption>カートのアプリケーションテンプレート一覧</caption>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th class="column3">
					操作
				</th>
			</tr>
			<!-- soy:id="cart_template_list" -->
			<tr>
				<td soy:id="app_id">あああああ</td>
				<td class="column3" soy:id="name">トップページ</td>
				<td class="column3">
					<a href="#" soy:id="edit_link" class="button">編集</a>
				</td>
			</tr>
			<!-- /soy:id="cart_template_list" -->
			<tfoot>
				<tr>
					<td colspan="3" class="alR">
						&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>
	
		<table class="form_list">
		<caption>マイページのアプリケーションテンプレート一覧</caption>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th class="column3">
					操作
				</th>
			</tr>
			<!-- soy:id="mypage_template_list" -->
			<tr>
				<td soy:id="app_id">あああああ</td>
				<td class="column3" soy:id="name">トップページ</td>
				<td class="column3">
					<a href="#" soy:id="edit_link" class="button">編集</a>
				</td>
			</tr>
			<!-- /soy:id="mypage_template_list" -->
			<tfoot>
				<tr>
					<td colspan="3" class="alR">
						&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>